<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="hero">

        <video autoplay loop muted playsinline class="back-video">
            <source src="{{ url_for('static', filename='assets/video/forest4k.mp4') }}" type="video/mp4"> 
            Your browser does not support the video tag.
        </video>
        

        <nav>
            <div id="clock-container">
                <div id="clock">00:00:00</div>
            </div>
            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" class="logo">
            <ul>
                <li><a href="{{ url_for('space') }}">Space</a></li>
                <li><a href="{{ url_for('city') }}">City</a></li>
                <li><a href="{{ url_for('seaside') }}">Seaside</a></li>
                <li><a href="{{ url_for('river') }}">River</a></li>
                <li><a href="{{ url_for('forest') }}">Forest</a></li>
            </ul>
        </nav>
        
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div> 
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>