<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seaside</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="hero">

        <video autoplay loop muted playsinline class="back-video">
            <source src="static/assets/video/seaside4k.mp4" type="video/mp4"> 
            Your browser does not support the video tag.
        </video>
        

        <nav>
            <div id="clock-container">
                <div id="clock">00:00:00</div>
            </div>
            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" class="logo">
            <ul>
                <li><a href="{{ url_for('space') }}">Space</a></li>
                <li><a href="{{ url_for('city') }}">City</a></li>
                <li><a href="{{ url_for('seaside') }}">Seaside</a></li>
                <li><a href="{{ url_for('river') }}">River</a></li>
                <li><a href="{{ url_for('forest') }}">Forest</a></li>
                <li><a href="{{ url_for('todo') }}">To-Do</a></li>

            </ul>
        </nav>

        <div class="audio-container">
            <div class="audio-player">
                <button class="play-btn">Play</button>
                <button class="pause-btn">Pause</button>
                <input type="range" class="volume-bar" value="100" min="0" max="100">
                <audio id="audio" src="static/assets/a/seaside.mp3" loop></audio>
            </div>
        </div>
    
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div> 

    </div>

    <div id="timer-container">
        <div id="timer">50:00</div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>